@{
    ViewData["Title"] = "Home";
}

@{
    IEnumerable<ImageModel> images = ViewData["Images"] as IEnumerable<ImageModel>;
}

<!-- Hero Section
        ============================================= -->
<section id="slider" class="slider-element dark justify-content-start">

    <!-- Hero Text
    ============================================= -->
    <div class="container z-1">
        <div class="row align-items-start justify-content-center justify-content-xl-start py-6">
            <div class="col-xl-6 col-lg-9 col-md-10 mt-xl-4 text-center text-xl-start">
                <p class="op-07 text-white mb-3 text-uppercase ls2 text-smaller">Quality is everyone's Responsibilty</p>
                <h1 class="display-4 mb-5 text-white fw-medium">Every Home Needs <span class="svg-underline nocolor">Curtains</span></h1>
                <a asp-area="" asp-controller="Home" asp-action="Products" class="button button-large button-white button-light h-op-09 color m-0 fw-normal color px-4"><i style="position: relative; top: -2px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--themecolor)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><rect x="32" y="48" width="192" height="160" rx="8" opacity="0.2"></rect><rect x="32" y="48" width="192" height="160" rx="8" stroke-width="16" stroke="var(--themecolor)" stroke-linecap="round" stroke-linejoin="round" fill="none"></rect><path d="M168,88a40,40,0,0,1-80,0" fill="none" stroke="var(--themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg></i> Shop Now</a>
            </div>
        </div>
    </div>

    <!-- Hero line in Responsive
    ============================================= -->
    <div class="line d-block d-xl-none my-0"></div>

    <!-- Hero Image
    ============================================= -->
    <div class="hero-image">
        <img src="~/images/hero.png" alt="">
    </div>

</section>

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        <!-- 1. Section Why Choose Us
        ============================================= -->
        <div class="section bg-color-light mt-0">
            <div class="container text-center mw-md topmargin bottommargin">

                <h2 class="display-4 fw-normal">Why <span data-animate="svg-underline-animated" class="svg-underline nocolor"><span>Choose</span></span> Us?</h2>

                <div class="clear"></div>

                <!-- Features Area -->
                <div class="row col-mb-50 mb-0 mt-5 justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-dark fbox-plain">
                            <div class="fbox-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--themecolor)" class="bi bi-house-door" viewBox="0 0 16 16"><path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" /></svg>
                            </div>
                            <div class="fbox-content">
                                <h2 class="nott fw-medium h4 mb-4">Sleek Designs</h2>
                                <p class="">Brighten up your home using our beautifully designed curtains, capable of decorating any window.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-dark fbox-plain">
                            <div class="fbox-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--themecolor)" class="bi bi-award" viewBox="0 0 16 16"><path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" /><path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" /></svg>
                            </div>
                            <div class="fbox-content">
                                <h2 class="nott fw-medium h4 mb-4">Amazing Quality</h2>
                                <p class="">All of our curtains are made with the best quality, we never settle for anything less.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box fbox-center fbox-dark fbox-plain">
                            <div class="fbox-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="var(--themecolor)" class="bi bi-emoji-smile" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /><path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" /></svg>
                            </div>
                            <div class="fbox-content">
                                <h2 class="nott fw-medium h4 mb-4">Guaranteed Satisfaction</h2>
                                <p class="">Through our amazing customer service and reliable product quality, we ensure that all your needs are satisfied.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section End -->
        <!-- New Arrivals Here (Dynamic)-->
        <!-- 3. Section new Arrivals
            ============================================= -->
        @*<div class="section custom-bg mb-0" style="--custom-bg: #F3F3ED; padding: 100px 0;">
            <div class="container">

                 Shop
                ============================================= 
                <div id="shop" class="shop row gutter-30 col-mb-30 mt-3">

                     Title 
                    <div class="col-xl-3 col-lg-6">
                        <h3 class="mb-4 fw-normal h1">New <span data-animate="svg-underline-animated" class="svg-underline nocolor"><span>Arrivals</span></span></h3>
                        <p class="op-07 mb-4">Check out the new additions to our available curtains!</p>
                         <a href="products.html" class="button button-border py-1 nott ls0 fw-normal button-dark border-width-1 border-color h-bg-color">New Arrivals</a>
                        <a href="products.html" class="button button-border py-1 nott ls0 fw-normal button-dark border-width-1 border-color h-bg-color">Popular</a> 
                    </div>

                     Product 1 
                    @foreach (var i in images)
                    {
                        <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="grid-inner">
                                <div class="product-image">
                                    <a><img src="@i.ImgPath@i.ImgName"></a>
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                             <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-light me-2"><i class="icon-line-shopping-cart"></i></button> 
                                            <a onclick="openDialogue('@i.EncodedImgPath@i.ImgName')" data-toggle="modal" data-target="#modal" class="btn btn-light me-2"><i class="icon-line-shopping-cart"></i></a>
                                             <a href="/demos/furniture/ajax/quick-view.html" data-lightbox="ajax" class="btn btn-light me-2"><i class="icon-line-shopping-cart"></i></a> 
                                             <a class="btn btn-light" data-lightbox="ajax"><i class="icon-line-expand"></i></a> 
                                        </div>
                                    </div>
                                </div>
                                <div class="product-desc">
                                    <div class="product-title mb-0"><h4 class="mb-0"><a class="fw-medium" href="demo-forum-single.html">@i.CurtainType</a></h4></div>
                                </div>
                            </div>
                        </div>
                    }
                </div> #shop end 

            </div>
        </div> Section End*@ 
        <!-- 4. Section Explore your Home & Office
                ============================================= -->
        <div class="container-fluid">

            <div class="row align-items-lg-center col-mb-30">

                <!-- Image -->
                <div class="col-xl-8 col-lg-6 px-lg-0 min-vh-50 min-vh-lg-75" style="background: url('/images/section.jpg') no-repeat center center; background-size: cover;">
                </div>

                <!-- Content -->
                <div class="col-xl-4 col-lg-6 px-lg-5 py-5">
                    <h3 class="h1 mb-4 fw-normal">Explore your <span data-animate="svg-underline-animated" class="svg-underline nocolor"><span>Home</span></span> & <span data-animate="svg-underline-animated" data-delay="300" class="svg-underline nocolor"><span>Office</span></span> with our Curtains</h3>
                    <p>Our curtains provide you with the privacy you need while also brightening your homes with the many selections we provide.</p>
                    <a asp-area="" asp-controller="Home" asp-action="Products" class="button button-border m-0 button-dark border-width-1 border-default h-bg-color">Discover Now <i class="icon-long-arrow-right"></i></a>
                </div>
            </div>

        </div><!-- Section End -->
        <!-- 6. Section Instagram
        ============================================= -->
        <div class="section custom-bg my-0 py-0" style="--custom-bg: var(--themecolor);">
            <div class="row align-items-center no-gutters">
                <!-- Instagram Center Col - Text -->
                <div class="col-lg-4 py-5 order-lg-2">
                    <div class="text-center dark p-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#FFF" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M172,36H84A47.99987,47.99987,0,0,0,36,84v88a47.99988,47.99988,0,0,0,48,48h88a47.99988,47.99988,0,0,0,48-48V84A47.99987,47.99987,0,0,0,172,36ZM128,168a40,40,0,1,1,40-40A40.0001,40.0001,0,0,1,128,168Z" opacity="0.2"></path><circle cx="128" cy="128" r="40" fill="none" stroke="#FFF" stroke-miterlimit="10" stroke-width="16"></circle><rect x="36" y="36" width="184" height="184" rx="48" stroke-width="16" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" fill="none"></rect><circle cx="180" cy="75.99998" r="12"></circle></svg>

                        <h3 class="mt-3 mb-5 fw-normal h2">Don't Follow the Crowd, Follow us on <span data-animate="svg-underline-animated" class="svg-underline nocolor"><span>Instagram</span></span></h3>

                        <a class="button button-large button-border nott ls0 fw-normal button-light button-white border-width-1 m-0" style="border-color: rgba(255,255,255,0.25)">Instagram</a>
                    </div>
                </div>

                <!-- Instagram Left Col - Image -->
                <div class="col-lg-4 col-md-6 order-lg-1">
                    <div class="row gutter-4">
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/1.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/2.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/3.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/4.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                    </div>
                </div>

                <!-- Instagram Right Col - Image -->
                <div class="col-lg-4 col-md-6 order-lg-3 mt-1 mt-md-0 ps-md-1 ps-lg-0">
                    <div class="row gutter-4">
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/5.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/6.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/7.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                        <div class="col-6">
                            <a class="d-block instagram-image" style="background: url('demos/furniture/images/shop/8.jpg') no-repeat center center; background-size:cover; min-height: 33vh;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Section End -->
    </div>
</section><!-- #content end -->
