@{
    ViewData["Title"] = "Order";
}
<section class="min-md-100">

    <div class="container">
        <div class="row min-md-100 justify-content-center align-items-md-start align-items-center text-center pt-md-5">
            <div class="col-lg-6 mt-lg-3">
                <h3 class="display-4 fw-medium mb-5">Your Cart</h3>
            </div>
        </div>

    </div>

</section>
<br>
<div class="row">
    <div class="col-lg-8 mx-auto">

        <!-- List group-->
        <ul id="orderList" class="list-group shadow">
        </ul>
        @*<div class="d-flex mt-2">
                <form class="row" id="orderForm" action="" novalidate="novalidate">
                    <div class="col-6 form-group">
                        <label>Email</label> 
                        <input type="email" name="email" id="email" class="form-control required">

                    </div>
                    <div class="col-6 form-group">

                        <label>Phone Number</label>
                        <input type="tel" name="phoneNum" id="phoneNum" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control required">
     
                    </div>
                    <div class="col-12">
                        <br>
                        <button value="send" id="sendBtn" type="submit" class="button button-large fw-normal form-control bg-color">Send Order</button>
                    </div>
                </form>
            </div>*@
        <!-- End -->
    </div>
</div>